<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{msgs.thankYouWindowTitle}</title>
    </h:head>
    <h:body>
        <h:outputText value="#{msgs.namePrompt}" style="font-style: italic"/>
        #{user.name}
        <br/>
        <h:outputText value="#{msgs.aboutYourselfPrompt}" style="font-style: italic"/>
        <br/>
        <pre>#{user.aboutYourself}</pre>
        <h:form>
            <h:commandButton value="Go Back" action="index">
            </h:commandButton>
        </h:form>

    </h:body>
</html>
